# dependencies
node_modules/

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Expo
.expo/
dist/
dist-export/
dist-export-final/
dist-export-verify/
web-build/
expo-env.d.ts
doctor*.txt

# Native
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo
